<Body>
    <GridLayout rows="*,*,*,*,*,*,*" columns="*">
        <Label row="0" text="Contact League Admin" class="headersub-msg"></Label>
        <TextField [isEnabled]="!isBusy" row="1" [text]="contactFrom" hint="From"
            class="c-text input"></TextField>
        <TextField [isEnabled]="!isBusy" row="2" [text]="contactTo" hint="To"
            class="c-text input"></TextField>
        <TextField [isEnabled]="!isBusy" row="3" [text]="contactSubject" hint="Subject"
            class="c-text"></TextField>
        <TextField [isEnabled]="!isBusy" row="4" [(ngModel)]="contactMessage"
            required hint="Message" class="c-text input" #element
            #elementModel="ngModel"></TextField>
        <!-- <Label class="validation " [visibility]="elementModel.valid ? 'collapse' : 'visible'"></Label> -->
        <ActivityIndicator [busy]="isBusy" class="activity-indicator"></ActivityIndicator>
        <Button row="5" text="Send" (tap)="sendContactLeagueAdmin()" class="c-login-btn border-c-login-btn button"
            [isEnabled]="!isBusy && contactMessage != '' && contactMessage != undefined"></Button>
        <Button row="6" text="Exit" class="c-exit-btn border-c-exit-btn button"
            [nsRouterLink]="['/letsplaydashboardhome']" [isEnabled]="!isBusy"></Button>
    </GridLayout>
</Body>