<GridLayout rows="auto,*" class="w-bg">
    <GridLayout row="0" rows="*,*,*,*,*" width="80%" class="c-main-grid">
        <Image src="
        ~/Images/w-logo.png" row="0" class="w-logo">
        </Image>
        <Image src="~/Images/txt-bg.png" row="1"></Image>
        <Label text=" " row="2" height="150px"></Label>
        <ActivityIndicator busy="true" class="activity-indicator" row="3"></ActivityIndicator>
        <Label text=" " row="4" height="150px"></Label>
    </GridLayout>

    <GridLayout row="1" width="80%">
        <Image src="~/Images/w-text.png" class="w-gettingready"></Image>
    </GridLayout>
</GridLayout>