<ScrollView>
    <StackLayout class="common-background">
        <!--Add your page content here-->
        <Image horizontalAlignment="center" verticalAlignment="center" src="~/Images/logo.png"
            class="welcome-logo"></Image>

        <Label text="Reset Password" class="header-msg"></Label>
        <TextField [isEnabled]="!isBusy" [(ngModel)]="accesscode" required
            hint="Accesscode" class="c-text input" #element #elementModel="ngModel"></TextField>
        <!-- <Label class="validation" [visibility]="elementModel.valid ? 'collapse' : 'visible'"></Label> -->

        <TextField [isEnabled]="!isBusy" [(ngModel)]="password" secure="true"
            required hint="Password" class="c-text input" #element
            #elementModel="ngModel"></TextField>
        <!-- <Label class="validation" [visibility]="elementModel.valid ? 'collapse' : 'visible'"></Label> -->

        <TextField [isEnabled]="!isBusy" [(ngModel)]="cnfpassword" secure="true"
            required hint="Confirm Password" class="c-text input" #element
            #elementModel="ngModel"></TextField>
        <!-- <Label class="validation" [visibility]="elementModel.valid ? 'collapse' : 'visible'"></Label> -->
        <ActivityIndicator [busy]="isBusy" class="activity-indicator"></ActivityIndicator>
        <Button text="Reset Password" [isEnabled]="!isBusy && accesscode !='' && accesscode != undifined && password !='' && password != undifined && cnfpassword !='' && cnfpassword != undifined"
            (tap)="resetPassword()" class="c-login-btn border-c-login-btn button"></Button>
        <Button text="Exit" [isEnabled]="!isBusy" [nsRouterLink]="['/login']"
            class="c-exit-btn border-c-exit-btn input" style="margin-bottom:50px;"></Button>
    </StackLayout>
</ScrollView>