<ScrollView>
    <StackLayout class="common-background">
        <Image horizontalAlignment="center" verticalAlignment="center" src="~/Images/logo.png"
            class="welcome-logo"></Image>

        <Label text="Recover Username/Password" class="header-msg"></Label>
        <TextField [(ngModel)]="email" required hint="Email" class="c-text input"
            #element #elementModel="ngModel" [isEnabled]="!isBusy"></TextField>
        <!-- <Label class="validation" [visibility]="elementModel.valid ? 'collapse' : 'visible'"></Label> -->
        <ActivityIndicator [busy]="isBusy" class="activity-indicator"></ActivityIndicator>
        <Button text="Recover" class="c-login-btn border-c-login-btn button"
            (tap)="forgetPassword()" [isEnabled]="email != '' && email != undefined && !isBusy"></Button>
        <Button text="Exit" class="c-exit-btn border-c-exit-btn button"
            [nsRouterLink]="['/login']" [isEnabled]="!isBusy"></Button>
    </StackLayout>
</ScrollView>